<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_regression_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2 유형

## 회귀

의료 비용 예측 데이터

- 데이터 설명 : 의료비용 예측문제 (종속변수 :charges)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_test.csv
- 데이터 출처 :https://www.kaggle.com/mirichoi0218/insurance/code(참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv')
x_label = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_test.csv')

In [3]:
print(x_train.shape)
display(x_train.head(3))


print(y_train.shape)
display(y_train.head(3))

print(x_test.shape)
display(x_test.head(3))

print(x_label.shape)
display(x_label.head(3))

(1070, 7)

   ID  age     sex     bmi  children smoker     region
0   2   35  female  35.860         2     no  southeast
1   3   28  female  23.845         2     no  northwest
2   4   23  female  32.780         2    yes  southeast

(1070, 2)

   ID      charges
0   2   5836.52040
1   3   4719.73655
2   4  36021.01120

(268, 7)

   ID  age     sex     bmi  children smoker     region
0   0   34    male  42.900         1     no  southwest
1   1   18  female  28.215         0     no  northeast
2   5   43  female  29.900         1     no  southwest

(268, 2)

   ID     charges
0   0  4536.25900
1   1  2200.83085
2   5  7337.74800

In [4]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(obj)
print(num)

display(x_train[obj].head(3))
display(x_train[num].head(3))

Index(['sex', 'smoker', 'region'], dtype='object')
Index(['ID', 'age', 'bmi', 'children'], dtype='object')

      sex smoker     region
0  female     no  southeast
1  female     no  northwest
2  female    yes  southeast

   ID  age     bmi  children
0   2   35  35.860         2
1   3   28  23.845         2
2   4   23  32.780         2

In [5]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

ID          0
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64
ID          0
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [6]:
x_train['region'].value_counts()

southeast    289
northwest    267
southwest    265
northeast    249
Name: region, dtype: int64

In [7]:
X_train = pd.get_dummies(x_train)
display(X_train.head(3))

X_test = pd.get_dummies(x_test)
display(X_test.head(3))

,ID,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,2,35,35.860,2,1,0,1,0,0,0,1,0
1,3,28,23.845,2,1,0,1,0,0,1,0,0
2,4,23,32.780,2,1,0,0,1,0,0,1,0

,ID,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,34,42.900,1,0,1,1,0,0,0,0,1
1,1,18,28.215,0,1,0,1,0,1,0,0,0
2,5,43,29.900,1,1,0,1,0,0,0,0,1

In [8]:


def do_Scaler(df):

  num = ['age', 'bmi', 'children']
  for col in num:
      sc = StandardScaler()
      df[col] = sc.fit_transform(df[col].values.reshape(-1,1))
  return df

X_train_s = do_Scaler(X_train)
display(X_train_s)

,ID,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,2,-0.291181,0.838958,0.766365,1,0,1,0,0,0,1,0
1,3,-0.782718,-1.131013,0.766365,1,0,1,0,0,1,0,0
2,4,-1.133816,0.333964,0.766365,1,0,0,1,0,0,1,0
3,6,0.902551,-0.892452,0.766365,1,0,0,1,0,0,1,0
4,7,1.674966,1.484958,1.605680,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1332,-1.204036,-0.056259,-0.912265,1,0,0,1,0,1,0,0
1066,1333,0.762112,0.177383,-0.912265,0,1,0,1,1,0,0,0
1067,1335,-1.484914,0.063431,-0.912265,1,0,1,0,0,0,1,0
1068,1336,1.183429,-0.663729,-0.072950,0,1,0,1,0,1,0,0
1069,1337,-0.431621,-0.405493,-0.072950,1,0,1,0,0,0,1,0

In [9]:
X_test_s = do_Scaler(X_test)
display(X_test_s)

,ID,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,-0.281976,2.074243,-0.136767,0,1,1,0,0,0,0,1
1,1,-1.459300,-0.321588,-0.933582,1,0,1,0,1,0,0,0
2,5,0.380269,-0.046683,-0.136767,1,0,1,0,0,0,0,1
3,21,-0.723472,0.592858,-0.933582,0,1,1,0,0,1,0,0
4,26,1.336845,1.912727,-0.933582,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
263,1327,1.484010,-0.321588,-0.933582,1,0,1,0,0,1,0,0
264,1328,1.189679,-0.414582,-0.136767,1,0,1,0,0,1,0,0
265,1329,-1.312134,0.065889,-0.933582,1,0,1,0,1,0,0,0
266,1331,-1.385717,0.375871,-0.933582,1,0,0,1,0,1,0,0
267,1334,1.778341,1.410230,-0.933582,0,1,1,0,0,0,1,0

In [10]:

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(X_train_s, y_train['charges'])

print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(802, 12)
(268, 12)
(802,)
(268,)

In [11]:
model = RandomForestRegressor()
model.fit(X_train_m, y_train_m)
prediction = model.predict(X_test_m)

In [12]:
from sklearn.metrics import r2_score

print(r2_score(y_test_m, prediction))

0.8444969446110725

In [13]:
model.fit(X_train_s.drop(columns=['ID']), y_train['charges'])
pred = model.predict(X_test_s.drop(columns=['ID']))

In [14]:
print(r2_score(x_label['charges'], pred))

0.8779661346222971

In [17]:
pd.DataFrame({'ID':x_test['ID'], 'pred':pred, 'real':x_label['charges']})

       ID          pred         real
0       0   5955.611118   4536.25900
1       1   4277.818220   2200.83085
2       5   8968.198128   7337.74800
3      21   6920.398124  19673.33573
4      26  20567.357295  11093.62290
..    ...           ...          ...
263  1327  16144.925867  12224.35085
264  1328  11830.364137  11305.93455
265  1329   2987.783001   2459.72010
266  1331  35688.541684  36898.73308
267  1334  14147.762213  12981.34570

[268 rows x 3 columns]