<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_regression_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2 유형

## 회귀 regressor

### 중고차 가격 예측 데이터

- 데이터 설명 : 중고차 가격 예측 데이터 (종속변수 :G3)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv
- 데이터 출처 :https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes?select=vw.csv (참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv')
x_label = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv')

In [3]:
print(x_train.shape)
display(x_train.head(3))

print(y_train.shape)
display(y_train.head(3))


print(x_test.shape)
display(x_test.head(3))

print(x_label.shape)
display(x_label.head(3))

(4960, 10)

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9

(4960, 2)

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990

(2672, 10)

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0
1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0
2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0

(2672, 2)

   carID  price
0  12000  38000
1  12001  23495
2  12004  59999

In [4]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [5]:
print(y_train.isna().sum())
print(x_label.isna().sum())

carID    0
price    0
dtype: int64
carID    0
price    0
dtype: int64

In [6]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(obj)
print(num)

print(len(obj)+len(num))
print(len(x_train.columns))

Index(['brand', 'model', 'transmission', 'fuelType'], dtype='object')
Index(['carID', 'year', 'mileage', 'tax', 'mpg', 'engineSize'], dtype='object')
10
10

In [7]:
display(x_train[obj].head(3))
display(x_train[num].head(3))

      brand      model transmission fuelType
0    hyundi   Santa Fe    Semi-Auto   Diesel
1  vauxhall        GTC       Manual   Diesel
2      audi        RS4    Automatic   Petrol

   carID  year  mileage    tax   mpg  engineSize
0  13207  2019     4223  145.0  39.8         2.2
1  17314  2015    47870  125.0  60.1         2.0
2  12342  2019     5151  145.0  29.1         2.9

In [8]:
for col in obj:
  print(x_train[col].unique())

['hyundi' 'vauxhall' 'audi' 'vw' 'skoda' 'merc' 'toyota' 'bmw' 'ford']
[' Santa Fe' ' GTC' ' RS4' ' Scirocco' ' Scala' ' V Class' ' Prius' ' M4'
 ' Camry' ' KA' ' Vivaro' ' CLS Class' ' Caravelle' ' Arteon' ' Shuttle'
 ' I40' ' IX20' ' 6 Series' ' GL Class' ' S Class' ' S3' ' Yeti' ' Galaxy'
 ' Puma' ' Edge' ' A8' ' SLK' ' Kamiq' ' RS6' ' CLA Class' ' Land Cruiser'
 ' M Class' ' Q8' ' i3' ' Verso' ' Mustang' ' IX35' ' Amarok' ' Avensis'
 ' Grand Tourneo Connect' ' Antara' ' Tourneo Connect' ' Beetle' ' X4'
 ' CC' ' GT86' ' X-CLASS' ' I800' ' i8' ' Caddy Maxi Life' ' Combo Life'
 ' Rapid' ' SQ7' ' Grand C-MAX' ' Tourneo Custom' ' California' ' Agila'
 ' A7' ' Zafira Tourer' ' G Class' ' Tiguan Allspace' ' X6' ' M2' ' X7'
 ' 7 Series' ' Z4' ' RS5' ' Hilux' ' GLS Class' ' GLB Class' ' M5' ' RS3'
 ' Caddy Life' ' SQ5' ' Supra' ' 8 Series' ' Fusion' ' M6' ' M3' ' Jetta'
 ' S4' ' R8' ' PROACE VERSO' ' Caddy' ' Getz' ' Eos' ' CLK' ' IQ' ' Z3'
 ' Roomster']
['Semi-Auto' 'Manual' 'Automatic' 'Other']
['Diesel' 'Petrol' 'Hybrid' 'Other' 'Electric']

`label encoding`

In [9]:
from sklearn.preprocessing import LabelEncoder

def Label_Encoder(df):

  obj = df.select_dtypes(include='object').columns

  for col in obj:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

  return df

In [10]:
x_train_l = Label_Encoder(x_train)

display(x_train_l.head(3))

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,3,69,2019,3,4223,0,145.0,39.8,2.2
1,17314,7,30,2015,1,47870,0,125.0,60.1,2.0
2,12342,0,58,2019,0,5151,4,145.0,29.1,2.9

In [11]:
x_test_l = Label_Encoder(x_test)
display(x_test_l.head(3))

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,12000,4,28,2017,0,12046,0,150.0,37.2,3.0
1,12001,8,6,2017,0,37683,0,260.0,36.2,3.0
2,12004,4,28,2019,0,10000,0,145.0,34.0,3.0

In [12]:
from sklearn.preprocessing import StandardScaler

def Standard_Scaler(df):

  num = ['year', 'mileage', 'tax', 'mpg', 'engineSize']

  for col in num:
    sc = StandardScaler()
    df[col] = sc.fit_transform(df[col].values.reshape(-1,1))

  return df

In [13]:
x_train_s = Standard_Scaler(x_train_l)

display(x_train_s.head(3))

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,3,69,0.784430,3,-0.848304,0,-0.088993,-0.295744,0.095814
1,17314,7,30,-0.602655,1,0.937516,0,-0.331725,0.272200,-0.157579
2,12342,0,58,0.784430,0,-0.810335,4,-0.088993,-0.595105,0.982689

In [14]:
x_test_s = Standard_Scaler(x_test_l)
display(x_test_s.head(3))

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,12000,4,28,0.096456,0,-0.543335,0,-0.040403,-0.356950,1.125503
1,12001,8,6,0.096456,0,0.564683,0,1.322207,-0.385308,1.125503
2,12004,4,28,0.786501,0,-0.631762,0,-0.102339,-0.447696,1.125503

In [15]:
from sklearn.model_selection import train_test_split

x_train_m, x_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['carID']), y_train['price'])

print(x_train_m.shape)
print(x_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(3720, 9)
(1240, 9)
(3720,)
(1240,)

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train_m, y_train_m)
pred = model.predict(x_test_m)

In [17]:
from sklearn.metrics import r2_score

print(r2_score(y_test_m, pred))

0.9518260671667327

In [18]:
pd.DataFrame({'y_test_m': y_test_m, 'pred':pred})

      y_test_m      pred
2477     10950   8996.77
1055      4999   5313.60
3650     11999  12138.41
4112      9192   8854.88
4919     40990  32886.63
...        ...       ...
4826     18998  19203.25
4243     17315  10113.35
4019      5990   5553.63
336      43495  46042.93
4380     10799  11416.62

[1240 rows x 2 columns]

In [19]:
model.fit(x_train_s.drop(columns=['carID']), y_train['price'])
prediction = model.predict(x_test_s.drop(columns=['carID']))

print(r2_score(x_label['price'], prediction))

0.9185625199836498

In [20]:
pd.DataFrame({'carID':x_test_s['carID'], 'pred':prediction, 'real':x_label['price']})

      carID      pred   real
0     12000  38250.79  38000
1     12001  23156.69  23495
2     12004  56444.75  59999
3     12013  15883.61  16713
4     12017  46888.96  46000
...     ...       ...    ...
2667  19618  38474.14  28990
2668  19620  19344.25  17450
2669  19626  20520.07  21995
2670  19630  23134.03  18700
2671  19631   2673.60   2999

[2672 rows x 3 columns]

`one-hot encoding`

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
X_train = pd.get_dummies(x_train)
X_test = pd.get_dummies(x_test)

In [34]:
display(X_train.head(3))

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,3,69,0.784430,3,-0.848304,0,-0.088993,-0.295744,0.095814
1,17314,7,30,-0.602655,1,0.937516,0,-0.331725,0.272200,-0.157579
2,12342,0,58,0.784430,0,-0.810335,4,-0.088993,-0.595105,0.982689

In [30]:
from sklearn.model_selection import train_test_split

x_train_oh, x_test_oh, y_train_oh, y_test_oh = train_test_split(X_train.drop(columns=['carID']), y_train['price'])


print(x_train_oh.shape)
print(y_train_oh.shape)
print(x_test_oh.shape)
print(y_test_oh.shape)

(3720, 9)
(3720,)
(1240, 9)
(1240,)

In [38]:
from sklearn.ensemble import RandomForestRegressor


model = RandomForestRegressor()
model.fit(x_train_oh, y_train_oh)
pred2 = model.predict(x_test_oh)

In [41]:
from sklearn.metrics import r2_score

print(r2_score(y_test_oh, pred2))

0.9553659839021185

In [42]:
model.fit(X_train.drop(columns=['carID']), y_train['price'])
prediction2 = model.predict(X_test.drop(columns=['carID']))


print(r2_score(x_label['price'], prediction2))

0.9263304375047601


- LabelEncoding -> r2_score 0.91
- OneHotEncoding -> r2_score 0.92