<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Regression_case5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

## 회귀 Regression

### 대학원 입학가능성 데이터

- 데이터 설명 : 대학원 입학 가능성 예측 (종속변수 :Chance of Admit)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_test.csv
- 데이터 출처 :https://www.kaggle.com/mohansacharya/graduate-admissions(참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_test.csv')

In [3]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0,67,327,114,3,3.0,3.0,9.02,0
1,1,112,321,109,4,4.0,4.0,8.68,1
2,2,495,301,99,3,2.5,2.0,8.45,1

(400, 9)

   ID  Chance of Admit
0   0             0.61
1   1             0.69
2   2             0.68

(400, 2)

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,13,440,312,105,2,1.5,3.0,8.46,0
1,16,467,314,99,4,3.5,4.5,8.73,1
2,23,470,326,114,4,4.0,3.5,9.16,1

(100, 9)

   ID  Chance of Admit
0  13             0.66
1  16             0.71
2  23             0.86

(100, 2)

In [4]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(len(obj)+len(num))
print(len(x_train.columns))

print(obj)
print(num)

display(x_train[obj].head(3))
display(x_train[num].head(3))

9
9
Index([], dtype='object')
Index(['ID', 'Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'CGPA', 'Research'],
      dtype='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2]

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0,67,327,114,3,3.0,3.0,9.02,0
1,1,112,321,109,4,4.0,4.0,8.68,1
2,2,495,301,99,3,2.5,2.0,8.45,1

In [5]:
from sklearn.preprocessing import MinMaxScaler

def do_Scaler(df):

  cols = ['GRE Score', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'CGPA']

  for col in cols:
    Scaler = MinMaxScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [7]:
x_train_s = do_Scaler(x_train)
display(x_train_s)

x_test_s = do_Scaler(x_test)
display(x_test_s)

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0,67,0.74,0.785714,0.50,0.500,0.500,0.711538,0
1,1,112,0.62,0.607143,0.75,0.750,0.750,0.602564,1
2,2,495,0.22,0.250000,0.50,0.375,0.250,0.528846,1
3,3,356,0.54,0.500000,0.25,0.250,0.625,0.423077,0
4,4,250,0.62,0.678571,0.50,0.625,0.750,0.650641,1
...,...,...,...,...,...,...,...,...,...
395,494,449,0.44,0.607143,0.25,0.375,0.750,0.711538,0
396,495,3,0.52,0.428571,0.50,0.500,0.625,0.384615,1
397,496,206,0.10,0.250000,0.25,0.375,0.500,0.272436,0
398,497,79,0.12,0.107143,0.25,0.500,0.250,0.237179,1
399,498,484,0.28,0.392857,1.00,1.000,0.500,0.358974,0

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,13,440,0.377778,0.423077,0.25,0.000000,0.428571,0.469925,0
1,16,467,0.422222,0.192308,0.75,0.571429,0.857143,0.571429,1
2,23,470,0.688889,0.769231,0.75,0.714286,0.571429,0.733083,1
3,25,410,0.111111,0.153846,0.00,0.142857,0.285714,0.304511,0
4,29,455,0.333333,0.423077,0.25,0.428571,0.571429,0.300752,0
...,...,...,...,...,...,...,...,...,...
95,467,464,0.200000,0.500000,0.50,0.571429,0.428571,0.244361,0
96,484,453,0.733333,0.846154,0.75,1.000000,0.571429,0.898496,1
97,485,466,0.222222,0.076923,0.75,0.428571,0.857143,0.394737,0
98,489,452,0.644444,0.730769,0.75,0.857143,0.857143,0.766917,1
99,499,436,0.311111,0.423077,0.25,0.285714,0.714286,0.176692,0

In [27]:
from sklearn.model_selection import train_test_split


X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['ID','Serial No.']), y_train['Chance of Admit'],
                                                            test_size=0.3,
                                                            random_state=1234)

print(X_train_m.shape)
print(y_train_m.shape)
print(X_test_m.shape)
print(y_test_m.shape)

(280, 7)
(280,)
(120, 7)
(120,)

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

In [29]:
model = RandomForestRegressor()
ada_model = AdaBoostRegressor()

In [30]:
model.fit(X_train_m, y_train_m)
prediction = model.predict(X_test_m)

In [31]:
from sklearn.metrics import r2_score, mean_squared_error

print(r2_score(y_test_m, prediction))

0.7262471921292554

In [32]:
ada_model.fit(X_train_m, y_train_m)
ada_prediction = ada_model.predict(X_test_m)

print(r2_score(y_test_m, ada_prediction))

0.6792712611664729

In [40]:
model.fit(x_train_s.drop(columns=['ID','Serial No.']), y_train['Chance of Admit'])
pred = model.predict(x_test_s.drop(columns=['ID','Serial No.']))

print('r2 score', r2_score(y_test['Chance of Admit'], pred))
print('rmse', mean_squared_error(y_test['Chance of Admit'], pred, squared=False))
print('mse', mean_squared_error(y_test['Chance of Admit'], pred))

r2 score 0.7097145129132505
rmse 0.07252829310000329
mse 0.005260353299999985

In [41]:
ada_model.fit(x_train_s.drop(columns=['ID','Serial No.']), y_train['Chance of Admit'])
ada_pred = model.predict(x_test_s.drop(columns=['ID','Serial No.']))


print('r2 score', r2_score(y_test['Chance of Admit'], ada_pred))
print('rmse', mean_squared_error(y_test['Chance of Admit'], ada_pred, squared=False))
print('mse', mean_squared_error(y_test['Chance of Admit'], ada_pred))

r2 score 0.7097145129132505
rmse 0.07252829310000329
mse 0.005260353299999985