<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Classification_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

## 분류 classification

### 자동차 보험가입 예측데이터

- 데이터 설명 : 자동차 보험 가입 예측 (종속변수 Response: 1 : 가입 , 0 :미가입)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_test.csv

- 데이터 출처 :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_test.csv')

`데이터 확인`

In [3]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,0,Female,23,1,8.0,0,< 1 Year,Yes,61354.0,152.0,235,NaN
1,1,Male,27,1,28.0,1,< 1 Year,No,38036.0,152.0,207,NaN
2,2,Female,23,1,45.0,0,< 1 Year,Yes,25984.0,152.0,217,NaN

(304887, 12)

   ID  Response
0   0         0
1   1         0
2   2         1

(304887, 2)

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,17,Female,23,1,25.0,1,< 1 Year,No,25294.0,152.0,20,310373.0
1,19,Male,58,1,3.0,0,1-2 Year,No,33627.0,26.0,94,173124.0
2,21,Male,44,1,28.0,0,1-2 Year,Yes,41700.0,154.0,85,89621.0

(76222, 12)

   ID  Response
0  17         0
1  19         0
2  21         0

(76222, 2)

In [4]:
print(x_train.isnull().sum())
print('-----')
print(x_test.isnull().sum())

ID                           0
Gender                       0
Age                          0
Driving_License              0
Region_Code                  0
Previously_Insured           0
Vehicle_Age                  0
Vehicle_Damage               0
Annual_Premium               0
Policy_Sales_Channel         0
Vintage                      0
id                      304887
dtype: int64
-----
ID                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
id                      0
dtype: int64

- x_train dataset에서 모든 컬럼이 결측치인 id 컬럼 제거

In [5]:
X_train = x_train.drop(columns=['id'])
X_test = x_test.drop(columns=['id'])

In [6]:
obj = X_train.select_dtypes(include='object').columns
num = X_train.select_dtypes(include='number').columns

print(obj)
print(num)

print(len(obj)+len(num))
print(len(X_train.columns))

display(X_train[obj].head(3))
display(X_train[num].head(3))

Index(['Gender', 'Vehicle_Age', 'Vehicle_Damage'], dtype='object')
Index(['ID', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured',
       'Annual_Premium', 'Policy_Sales_Channel', 'Vintage'],
      dtype='object')
11
11

   Gender Vehicle_Age Vehicle_Damage
0  Female    < 1 Year            Yes
1    Male    < 1 Year             No
2  Female    < 1 Year            Yes

,ID,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,23,1,8.0,0,61354.0,152.0,235
1,1,27,1,28.0,1,38036.0,152.0,207
2,2,23,1,45.0,0,25984.0,152.0,217

In [7]:
X_train['Previously_Insured'].value_counts()

0    165170
1    139717
Name: Previously_Insured, dtype: int64

In [8]:
X_train['Policy_Sales_Channel'].value_counts()

152.0    107755
26.0      63809
124.0     59200
160.0     17434
156.0      8574
          ...
149.0         1
41.0          1
50.0          1
123.0         1
144.0         1
Name: Policy_Sales_Channel, Length: 155, dtype: int64

In [9]:
X_train['Driving_License'].value_counts()

1    304246
0       641
Name: Driving_License, dtype: int64

In [10]:
X_train['Vintage'].value_counts()

73     1151
187    1141
158    1128
232    1128
256    1126
       ...
224     975
48      974
32      970
237     969
181     967
Name: Vintage, Length: 290, dtype: int64

In [11]:
X_train['Vehicle_Age'].value_counts()

1-2 Year     160409
< 1 Year     131696
> 2 Years     12782
Name: Vehicle_Age, dtype: int64

In [12]:
X_train['Region_Code'].value_counts().nunique()

53

'Previously_Insured' , 'Driving_License' 은 label_encoding 형태이므로,
수치형 전처리 때 제외하기

'Region_Code' 지역코드가 연속형 변수로 파악하기에는 어려우므로, labeling 하기에는 변수가 너무 많아서 일단 제거하고 수행해봄

In [13]:
X_train.drop(columns=['Region_Code'], inplace=True)
X_test.drop(columns=['Region_Code'], inplace=True)

In [14]:
from sklearn.preprocessing import LabelEncoder

def do_Label_Encoder(df):

  cols = ['Gender', 'Vehicle_Age', 'Vehicle_Damage']

  for col in cols:
    Encoder = LabelEncoder()
    df[col] = Encoder.fit_transform(df[col])

  return df


x_train_l = do_Label_Encoder(X_train)
x_test_l = do_Label_Encoder(X_test)


display(x_train_l.head(3))
display(x_test_l.head(3))

,ID,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,0,23,1,0,1,1,61354.0,152.0,235
1,1,1,27,1,1,1,0,38036.0,152.0,207
2,2,0,23,1,0,1,1,25984.0,152.0,217

,ID,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,17,0,23,1,1,1,0,25294.0,152.0,20
1,19,1,58,1,0,0,0,33627.0,26.0,94
2,21,1,44,1,0,0,1,41700.0,154.0,85

In [15]:
from sklearn.preprocessing import StandardScaler

def do_Standard_Scaler(df):

  cols = ['Age', 'Previously_Insured',
       'Annual_Premium', 'Policy_Sales_Channel', 'Vintage']


  for col in cols:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df


x_train_s = do_Standard_Scaler(x_train_l)
x_test_s = do_Standard_Scaler(x_test_l)

display(x_train_s.head(3))
display(x_test_s.head(3))

,ID,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,0,-1.020860,1,-0.919727,1,1,1.782581,0.737202,0.964785
1,1,1,-0.762877,1,1.087279,1,0,0.432038,0.737202,0.629959
2,2,0,-1.020860,1,-0.919727,1,1,-0.265995,0.737202,0.749540

,ID,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,17,0,-1.016879,1,1.081504,1,0,-0.303535,0.731129,-1.607812
1,19,1,1.248018,1,-0.924638,0,0,0.168632,-1.606572,-0.722492
2,21,1,0.342059,1,-0.924638,0,1,0.626067,0.768235,-0.830166

In [16]:
from sklearn.model_selection import train_test_split

x_train_m, x_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['ID']), y_train['Response'],
                                                            test_size=0.3, random_state=123)

print(x_train_m.shape)
print(x_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(213420, 9)
(91467, 9)
(213420,)
(91467,)

In [17]:
from sklearn.ensemble import RandomForestClassifier

model =RandomForestClassifier()
model.fit(x_train_m, y_train_m)
pred = model.predict_proba(x_test_m)[:,1]

In [18]:
from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_test_m, pred))

0.8264120098740326

In [19]:
model.fit(x_train_s.drop(columns=['ID']), y_train['Response'])
prediction = model.predict_proba(x_test_s.drop(columns=['ID']))[:,1]

print(roc_auc_score(y_test['Response'],prediction))

0.9879991256230644

In [26]:
class_prediction = model.predict(x_test_s.drop(columns=['ID']))

In [38]:
temp = pd.DataFrame({'ID': x_test_s['ID'], 'pred': class_prediction, 'real': y_test['Response']})
temp

           ID  pred  real
0          17     0     0
1          19     0     0
2          21     0     0
3          23     0     0
4          32     0     0
...       ...   ...   ...
76217  381091     0     0
76218  381097     0     0
76219  381102     0     1
76220  381105     0     1
76221  381108     1     1

[76222 rows x 3 columns]

In [43]:
RandomForst_wrong = temp.loc[temp['pred']!= temp['real']]['ID'].tolist()

In [34]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier(n_estimators=200, random_state=1234, learning_rate=0.1)
ada.fit(x_train_s.drop(columns=['ID']), y_train['Response'])
ada_pred = ada.predict_proba(x_test_s.drop(columns=['ID']))[:,1]

In [35]:
print(roc_auc_score(y_test['Response'], ada_pred))

0.850509591341319

In [37]:
ada_class = ada.predict(x_test_s.drop(columns=['ID']))

temp2 = pd.DataFrame({'ID': x_test_s['ID'], 'pred' : ada_class, 'real': y_test['Response']})
temp2

           ID  pred  real
0          17     0     0
1          19     0     0
2          21     0     0
3          23     0     0
4          32     0     0
...       ...   ...   ...
76217  381091     0     0
76218  381097     0     0
76219  381102     0     1
76220  381105     0     1
76221  381108     0     1

[76222 rows x 3 columns]

In [45]:
ada_wrong = temp2.loc[temp2['pred']!=temp2['real']]['ID'].tolist()

In [47]:
len(set(RandomForst_wrong).intersection(ada_wrong))

3066

In [48]:
print(len(RandomForst_wrong))
print(len(ada_wrong))

3460
9402