<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Classification_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제 2유형

## 분류 classification

### 사기회사 분류

- 데이터 설명 : 사기회사 분류 (종속변수 : Risk 1: 사기 , 0 : 정상)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_test.csv
- 데이터 출처 :https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import roc_auc_score

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_test.csv')

In [3]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,0,2.37,16,0.01,0.2,0.002,0.007,0.2,0.0014,0.017,...,0.2,0.4,0,0.2,0.0,2.0,1.4034,0.4,0.5,0.28068
1,2,55.57,9,1.06,0.4,0.424,0.000,0.2,0.0000,1.060,...,0.2,0.4,0,0.2,0.0,2.2,1.8240,0.4,0.5,0.36480
2,3,55.57,16,2.42,0.6,1.452,3.530,0.6,2.1180,5.950,...,0.2,0.4,0,0.2,0.0,3.8,7.4940,0.4,0.5,1.49880

(620, 27)

   ID  Risk
0   0     0
1   2     0
2   3     1

(620, 2)

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,1,3.89,12,13.92,0.6,8.352,2.2,0.2,0.44,16.12,...,0.2,0.4,0,0.2,0.0,2.4,10.202,0.4,0.5,2.0404
1,9,1.85,19,1.16,0.4,0.464,0.0,0.2,0.00,1.16,...,0.2,1.2,0,0.2,0.0,2.6,2.686,1.2,0.5,1.6116
2,10,1.99,16,1.53,0.4,0.612,0.0,0.2,0.00,1.53,...,0.2,0.8,0,0.2,0.0,2.4,2.418,0.8,0.5,0.9672

(156, 27)

   ID  Risk
0   1     1
1   9     1
2  10     0

(156, 2)

In [4]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64
ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64

In [5]:
x_train['Money_Value'].describe()

count    619.000000
mean      13.604740
std       66.480533
min        0.000000
25%        0.000000
50%        0.090000
75%        4.340000
max      935.030000
Name: Money_Value, dtype: float64

In [6]:
x_train['Money_Value'] = x_train['Money_Value'].fillna(x_train['Money_Value'].median())

In [7]:
print(y_train.isnull().sum())
print(y_test.isnull().sum())

ID      0
Risk    0
dtype: int64
ID      0
Risk    0
dtype: int64

In [8]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(obj)
print(num)

display(x_train[obj].head(3))
display(x_test[num].head(3))

Index(['LOCATION_ID'], dtype='object')
Index(['ID', 'Sector_score', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk'],
      dtype='object')

  LOCATION_ID
0          16
1           9
2          16

,ID,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,1,3.89,13.92,0.6,8.352,2.2,0.2,0.44,16.12,5.0,...,0.2,0.4,0,0.2,0.0,2.4,10.202,0.4,0.5,2.0404
1,9,1.85,1.16,0.4,0.464,0.0,0.2,0.00,1.16,5.0,...,0.2,1.2,0,0.2,0.0,2.6,2.686,1.2,0.5,1.6116
2,10,1.99,1.53,0.4,0.612,0.0,0.2,0.00,1.53,5.0,...,0.2,0.8,0,0.2,0.0,2.4,2.418,0.8,0.5,0.9672

In [9]:
x_train['History'].value_counts()

0    583
1     26
2      6
4      2
5      1
3      1
9      1
Name: History, dtype: int64

In [10]:
x_train['LOCATION_ID'].value_counts()

8          68
19         58
16         46
12         37
9          37
5          33
4          29
2          29
15         28
6          27
13         26
32         26
11         23
22         19
14         16
29         16
31         11
1          10
39          9
37          8
18          8
21          7
28          6
27          6
43          5
25          4
7           4
20          3
30          3
3           3
38          2
35          2
40          2
23          1
17          1
LOHARU      1
SAFIDON     1
44          1
33          1
24          1
36          1
NUH         1
Name: LOCATION_ID, dtype: int64

In [11]:
# 수치형 변수 스케일

def do_scaler(df):

  cols= ['Sector_score', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk']

  for col in cols:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [12]:
x_train_s = do_scaler(x_train)
display(x_train_s.head(3))

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,0,-0.734137,16,-0.464397,-0.877019,-0.422124,-0.196874,-0.660272,-0.192157,-0.235592,...,-0.161162,-0.417668,-0.183267,-0.236778,-0.163648,-0.813199,-0.280402,-0.3841,0.0,-0.161692
1,2,1.453274,9,-0.260527,0.277443,-0.287097,-0.197003,-0.660272,-0.192200,-0.216894,...,-0.161162,-0.417668,-0.183267,-0.236778,-0.163648,-0.578695,-0.272988,-0.3841,0.0,-0.159645
2,3,1.453274,16,0.003532,1.431906,0.041830,-0.132392,1.706020,-0.127631,-0.129231,...,-0.161162,-0.417668,-0.183267,-0.236778,-0.163648,1.297336,-0.173036,-0.3841,0.0,-0.132062

In [13]:
x_test_s = do_scaler(x_test)
display(x_test_s.head(3))

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,1,-0.723112,12,3.929972,1.660762,3.909232,-0.218412,-0.523167,-0.282326,0.410480,...,-0.172345,-0.421450,-0.13628,-0.203967,-0.123815,-0.157133,0.044012,-0.316520,0.0,-0.129944
1,9,-0.805051,19,-0.225215,0.450113,-0.276129,-0.338179,-0.523167,-0.322150,-0.351746,...,-0.172345,2.865858,-0.13628,-0.203967,-0.123815,0.112238,-0.338718,1.289239,0.0,-0.188605
2,10,-0.799427,16,-0.104727,0.450113,-0.197600,-0.338179,-0.523167,-0.322150,-0.332894,...,-0.172345,1.222204,-0.13628,-0.203967,-0.123815,-0.157133,-0.352366,0.486360,0.0,-0.276759

In [14]:
x_train_s = x_train_s.drop(columns=['ID','LOCATION_ID'])
x_test_s= x_test_s.drop(columns=['ID','LOCATION_ID'])

In [15]:
X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s, y_train['Risk'],
                                                            test_size=0.3, random_state=1234)


print(X_train_m.shape)
print(y_train_m.shape)

print(X_test_m.shape)
print(X_test_m.shape)

(434, 25)
(434,)
(186, 25)
(186, 25)

In [17]:
model = RandomForestClassifier()
model.fit(X_train_m, y_train_m)
prediction = model.predict_proba(X_test_m)[:,1]

print(roc_auc_score(y_test_m, prediction))

1.0

In [19]:
x_test_s.isnull().sum()

Sector_score      0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64

In [21]:
x_test_s['Money_Value'] = x_test_s['Money_Value'].fillna(x_test_s['Money_Value'].median())

In [24]:
model = RandomForestClassifier()
model.fit(x_train_s, y_train['Risk'])
prediction = model.predict_proba(x_test_s)[:,1]

print(roc_auc_score(y_test['Risk'], prediction))

0.9996265172735761

In [26]:
temp = pd.DataFrame({'ID': x_test['ID'], 'pred': model.predict(x_test_s), 'real': y_test['Risk']})
temp

      ID  pred  real
0      1     1     1
1      9     0     1
2     10     0     0
3     11     0     0
4     12     0     0
..   ...   ...   ...
151  759     0     1
152  762     1     1
153  763     1     1
154  765     0     0
155  772     1     1

[156 rows x 3 columns]

In [27]:
temp.loc[temp['pred']!=temp['real']]

      ID  pred  real
1      9     0     1
10    30     0     1
15    66     0     1
46   228     0     1
49   239     0     1
66   310     0     1
89   441     0     1
93   463     0     1
117  565     0     1
151  759     0     1