<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1(%EC%9C%A0%ED%88%AC%EB%B8%8C_%EC%9D%B8%EA%B8%B0_%EB%8F%99%EC%98%81%EC%83%81%2C_%ED%88%AC%EB%B8%8C_%EA%B3%B5%EB%B2%94_%EC%BD%98%ED%85%90%EC%B8%A0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 작업형 1유형

## 유투브 인기 동영상 데이터

- 데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(DataUrl, index_col=0)
df.head(3)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01

Q. 인기동영상 제작횟수가 많은 채널 상위 10개명을 추력하라 (날짜기준, 중복포함)

In [3]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [4]:
df['channelTitle'].nunique()

1832

In [5]:
temp = df['channelTitle'].value_counts()[:10].index
Ans = list(df.loc[df['channelTitle'].isin(temp)]['channelTitle'].unique())
Ans

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

Q. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [6]:
temp = df.loc[df['dislikes'] > df['likes']]
Ans = temp['channelTitle'].unique()
Ans

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

Q. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [7]:
temp = df[['channelTitle','channelId']].drop_duplicates()
temp = temp['channelId'].value_counts().to_frame()
Ans = temp.loc[temp['channelId']>1].shape[0]
Ans

71

Q. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [8]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[:,'trending_date2'].dtypes

dtype('<M8[ns]')

In [9]:
df.loc[df['trending_date2'].dt.weekday==6]['categoryId'].value_counts().index[0]

24

In [10]:
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

Q. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [11]:
df.groupby(['categoryId', df['trending_date2'].dt.day_name()]).size().unstack()

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

In [12]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
group

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [13]:
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Q. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [14]:
temp = df.copy()
temp = temp[temp['view_count']!=0]
temp['comm_cnt_per_view_cnt'] = temp['comment_count'] / temp['view_count']
Ans = temp.sort_values(by='comm_cnt_per_view_cnt', ascending=False).iloc[0]
Ans['title']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

Q . 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [15]:
temp = df.copy()
temp = temp[temp['view_count']!=0]
temp['ratio'] = temp['comment_count'] / temp['view_count']
temp = temp[temp['ratio']!=0]
Ans = temp.sort_values(by='ratio').iloc[0]['title']
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Q. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [16]:
temp = df.copy()
temp = temp[(temp['likes']!=0) & (temp['dislikes']!=0)]
temp['ratio'] = df['dislikes'] / df['likes']
Ans = temp.sort_values(by='ratio').iloc[0]['title']
Ans

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [17]:
df.iloc[0]

title                            [신병] 물자창고
channelTitle                           장삐쭈
categoryId                              23
view_count                         1893473
likes                                38249
dislikes                               730
comment_count                         8595
channelId         UChbE5OZQ6dRHECsX0tEPEZQ
trending_date2         2021-01-01 00:00:00
Name: 0, dtype: object

In [18]:
df['channelTitle'].value_counts().index[0]

'짤툰'

In [19]:
df.loc[df['channelId'] ==df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'짤툰'

Q. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [20]:
temp = df[['title','channelId']]
(temp.value_counts()>=20).sum()

40

### 유투브 공범 콘텐츠 동영상 데이터

- dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv

- dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [21]:
import pandas as pd
import numpy as np

In [22]:
DataUrl1 ='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' 
DataUrl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'

In [23]:
video = pd.read_csv(DataUrl1)
channel = pd.read_csv(DataUrl2)

display(video.head(3))
display(channel.head(3))

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹

Q. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [24]:
print(video.columns)
print(channel.columns)

Index(['videopk', 'viewcnt', 'likecnt', 'dislikecnt', 'favoritecnt', 'cmcnt',
       'ct', 'videoname'],
      dtype='object')
Index(['channelid', 'subcnt', 'viewcnt', 'videocnt', 'ct', 'channelname'], dtype='object')

In [25]:
print(video.loc[:,'ct'].dtype)
video.loc[1,'ct']

object

'2021-10-10 15:30:03'

In [26]:
video['ct'] = pd.to_datetime(video['ct'])
print(video.loc[:,'ct'].dtype)

datetime64[ns]

In [27]:
channel['ct'] = pd.to_datetime(channel['ct'])
print(channel.loc[:,'ct'].dtype)

datetime64[ns]

In [28]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

Q. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [29]:
temp = video.copy()
temp.sort_values(by=['videoname','ct'], ascending=[True, False], inplace=True)
temp = temp[['viewcnt','videoname','ct']]
temp = temp.drop_duplicates(subset=['videoname']).reset_index(drop=True)
temp

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [30]:
video.sort_values(by=['videoname','ct']).drop_duplicates(subset=['videoname'], keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

Q. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [31]:
temp = channel.loc[channel['ct']>='2021-10-03'].sort_values(by='ct')
temp.drop_duplicates(subset=['channelname'])[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1        츄정ChuJeong   322000
2             야전삽짱재   257000
3        김농밀의 농밀한 삶     7520
4   와글와글 WagleWagle    55000
5       릴펄 Lilpearl    10100
6           형사!탐정되다    14900
7               조나단   215000
8               꽈뚜룹  1330000
9     Balming Tiger    54300
10    곽토리 kwak tori   471000

Q. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [32]:
temp = channel.copy()
temp = temp[(pd.to_datetime('2021-10-03 03:00:00') <= temp['ct'] ) & (temp['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
temp.sort_values(by=['channelname','ct'], inplace=True)
temp1 = temp.drop_duplicates(subset=['channelname'], keep='first')[['channelname','subcnt','ct']].rename(columns={'subcnt':'start_cnt'})
temp2 = temp.drop_duplicates(subset=['channelname'], keep='last')[['channelname','subcnt','ct']].rename(columns={'subcnt':'end_cnt'})

Ans = pd.merge(temp1, temp2, on='channelname')
Ans['del_cnt'] = Ans['end_cnt']- Ans['start_cnt']
Ans[['channelname','del_cnt']]

        channelname  del_cnt
0     Balming Tiger     2500
1     곽토리 kwak tori    -2000
2        김농밀의 농밀한 삶     1540
3               꽈뚜룹    70000
4            논리왕 전기   -11000
5       릴펄 Lilpearl    11000
6             야전삽짱재    11000
7   와글와글 WagleWagle        0
8               조나단    12000
9        츄정ChuJeong     1000
10          형사!탐정되다    10300

Q. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [33]:
import datetime

ep_one = video[video['videoname'].str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one_idx = ep_one[(ep_one['ct'].diff(1) >= datetime.timedelta(minutes=20)) | (ep_one['ct'].diff(1) <= datetime.timedelta(minutes=5))].index
ep_one_idx

find_idx = []
for i in ep_one_idx:
  find_idx.append(i-1)
  find_idx.append(i)
  find_idx.append(i+1)

find_idx = list(set(find_idx))
find_idx

ep_one.loc[find_idx]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1

Q. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [34]:
temp = video.sort_values(by=['ct','videoname']).drop_duplicates(subset=['videoname'], keep='first')
temp['date'] = temp['ct'].dt.strftime('%Y-%m-%d')
temp[['date','videoname']]

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

In [35]:
video.head(2)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1

Q. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [36]:
temp = video.copy()

temp['hour'] = temp['ct'].dt.hour

temp = temp.loc[temp['hour']==21].sort_values(['videoname','ct']).drop_duplicates('videoname')
temp = temp.sort_values('viewcnt', ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
display(temp)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

Q. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [37]:
temp = video.copy()
temp.sort_values(by='ct', ascending=False, inplace=True)
temp = temp.drop_duplicates(['videoname'], keep='first')
temp['ratio'] = temp['dislikecnt'] / temp['likecnt']
temp[['videoname','ratio']].sort_values(by='ratio', ascending=True)

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

Q. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [38]:
import datetime

temp = video.copy()

temp = temp[(pd.to_datetime('2021-11-01 00:00:00') <= temp['ct']) & (temp['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
temp.sort_values(by='ct', inplace=True)

start = temp.drop_duplicates(subset=['videoname'], keep='first')[['videoname','viewcnt','ct']]
end = temp.drop_duplicates(subset=['videoname'], keep='last')[['videoname','viewcnt','ct']]

temp = pd.merge(start, end, on='videoname')
temp['view_gap'] = temp['viewcnt_y'] - temp['viewcnt_x']
temp[['videoname','view_gap']].sort_values(by='videoname')

  videoname  view_gap
0    공범 EP1     13298
1    공범 EP2     10300
2    공범 EP3      9927
4    공범 EP4      9824
5    공범 EP5     10824
3    공범 EP6     14141
7    공범 EP7     26949
6    공범 EP8     89147

Q. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [39]:
temp = video.copy()
temp[temp.duplicated()][['videoname','ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37