<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1_case3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 1유형

- https://www.datamanim.com/dataset/03_dataq/typeone.html#id8

In [1]:
import pandas as pd
import numpy as np

## 성인 건강검진 데이터


- 데이터 출처 :https://www.data.go.kr/data/15007122/fileData.do (참고, 데이터 수정)
데이터 설명 : 2018년도 성인의 건강검 진데이터 (흡연상태 1- 흡연, 0-비흡연 )
- 데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N

Q. 수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼(‘혈압차’) 으로 생성하고, 연령대 코드별 각 그룹 중 ‘혈압차’ 의 분산이 5번째로 큰 연령대 코드를 구하여라

In [3]:
df.columns

Index(['성별코드', '연령대코드(5세단위)', '신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '시력(좌)',
       '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤',
       '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '구강검진수검여부', '치아우식증유무',
       '치석'],
      dtype='object')

In [4]:
df['혈압차'] = df['수축기혈압'] - df['이완기혈압']

In [5]:
df.groupby(['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending=False).index[4]

60

Q. 비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다. 일반적으로 0.58이상이면 비만으로 분류한다. 데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

In [6]:
df['WHtR'] = df['허리둘레'] / df['신장(5Cm단위)']
temp = df.loc[df['WHtR']>= 0.58]
Ans = temp.groupby(['성별코드']).size() 
Ans

성별코드
F    1470
M    1719
dtype: int64

In [7]:
print(Ans.values[1]/ Ans.values[0])

1.1693877551020408

## 자동차 보험가입 예측 데이터

- 데이터 출처 :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(참고, 데이터 수정)
데이터 설명 : 자동차 보험 가입 예측
- Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [8]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0

Q. Vehicle_Age 값이 2년 이상인 사람들만 필터링 하고 그중에서
Annual_Premium 값이 전체 데이터의 중간값 이상인 사람들을 찾고, 그들의 Vintage값의 평균을 구하여라

In [9]:
df['Vehicle_Age'].value_counts()

1-2 Year     160409
< 1 Year     131696
> 2 Years     12782
Name: Vehicle_Age, dtype: int64

In [10]:
temp = df.loc[df['Vehicle_Age']>=' > 2 Years']
temp.loc[temp['Annual_Premium'] >= temp['Annual_Premium'].median()]['Vintage'].mean()

154.36836201920553

Q. vehicle_age에 따른 각 성별(gender)그룹의 Annual_Premium값의 평균을 구하여 아래 테이블과 동일하게 구현하라

In [11]:
df.groupby(['Vehicle_Age','Gender'],as_index=False)['Annual_Premium'].mean().pivot_table(index='Vehicle_Age', columns='Gender', values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

## 핸드폰 가격 예측 데이터

- 데이터 출처 :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(참고, 데이터 수정)
데이터 설명 : 핸드폰 가격예측 (price_range컬럼 0(저렴) ~3(매우비쌈) 범위 )
- Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [12]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

Q. price_range 의 각 value를 그룹핑하여 각 그룹의 n_cores 의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [13]:
df['price_range'].value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [14]:
df['n_cores'].value_counts()

4    274
7    259
8    256
2    247
3    246
5    246
1    242
6    230
Name: n_cores, dtype: int64

In [15]:
df.groupby(['price_range','n_cores'], as_index=False).size().sort_values(by=['price_range','size'], ascending=[True, False]).groupby('price_range').head(1)

    price_range  n_cores  size
1             0        2    69
8             1        1    76
19            2        4    73
28            3        5    70

In [16]:
df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  """Entry point for launching an IPython kernel.

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

Q. price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [17]:
temp = df.loc[df['price_range']==3]
temp = temp.corr().unstack().to_frame().rename(columns={0:'corr'}).dropna()
temp = temp[temp['corr']!=1]
temp.sort_values(by='corr', ascending=False)

                                 corr
pc            fc             0.635166
fc            pc             0.635166
three_g       four_g         0.604218
four_g        three_g        0.604218
px_width      px_height      0.538207
...                               ...
px_height     ram           -0.238720
ram           px_width      -0.257496
px_width      ram           -0.257496
battery_power ram           -0.262759
ram           battery_power -0.262759

[380 rows x 1 columns]

In [18]:
display(temp.sort_values(by='corr', ascending=False).iloc[2])
display(temp.sort_values(by='corr', ascending=False).iloc[3])

corr    0.604218
Name: (three_g, four_g), dtype: float64

corr    0.604218
Name: (four_g, three_g), dtype: float64

## 비행탑승 경험 만족도 데이터

- 데이터 출처 :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)
데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : ‘neutral or dissatisfied’ or satisfied ) (83123, 24) shape
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

In [19]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied

Q. Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 ‘neutral or dissatisfied’ 보다 ‘satisfied’의 수가 더 높은 Class는 어디 인가?

In [20]:
df.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [21]:
df['satisfaction'].value_counts()

neutral or dissatisfied    47103
satisfied                  36020
Name: satisfaction, dtype: int64

In [22]:
temp = df.loc[df['Arrival Delay in Minutes'].isnull()].groupby(['Class','satisfaction'], as_index=False).size()
temp

      Class             satisfaction  size
0  Business  neutral or dissatisfied    36
1  Business                satisfied    76
2       Eco  neutral or dissatisfied   100
3       Eco                satisfied    25
4  Eco Plus  neutral or dissatisfied    15
5  Eco Plus                satisfied     4

In [23]:
Ans = temp.pivot(index='Class', columns='satisfaction')
Ans

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76
Eco                              100        25
Eco Plus                          15         4

In [24]:
Ans[Ans['size']['neutral or dissatisfied'] < Ans['size']['satisfied']]

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

## 수질 음용성 여부 데이터

- 데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability
데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

In [25]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0

Q. ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 사분위값 기준 하위 25%의 값들의 평균값은?

In [26]:
temp = df[~df['ph'].isnull()]
temp

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0
...,...,...,...,...,...,...,...,...,...,...
2614,8.115625,200.099013,15513.012581,6.046111,NaN,421.060326,8.320276,53.775592,4.408812,0
2615,8.060610,208.042711,15489.325660,5.620299,361.970424,423.420838,15.371550,75.445589,3.600906,0
2616,8.238997,199.594539,25046.798640,9.288020,350.835986,328.363398,18.743231,54.416965,3.089924,1
2617,5.694694,240.712182,7998.674511,8.124265,NaN,477.047807,15.459307,68.895603,3.870611,1
2619,5.907078,213.471081,41839.456449,7.924762,312.329947,357.258970,15.598965,54.421879,4.296480,0

In [27]:
temp['ph'].isnull().sum()

0

In [28]:
df.loc[df['ph'] <= df['ph'].quantile(0.25)]['ph'].mean()

5.057093462441732