<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Classification_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

https://www.datamanim.com/dataset/03_dataq/typetwo.html#id8

## 분류 Classification

### 비행탑승 경험 만족도 데이터

- 데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : ‘neutral or dissatisfied’ or satisfied ) (83123, 24) shape
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_test.csv
데이터 출처 :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

In [25]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_test.csv ')

In [3]:
display(x_train.head(3))
print(x_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_train.head(3))
print(y_train.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN

(83123, 24)

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,1,Male,Loyal Customer,28,Business travel,Business,3414,2,2,2,...,2,4,5,4,4,4,2,0,0.0,40819.0
1,16,Female,disloyal Customer,34,Business travel,Eco,2556,1,1,1,...,2,5,1,5,1,3,2,15,0.0,33335.0
2,17,Female,Loyal Customer,23,Personal Travel,Eco,363,2,5,2,...,5,3,2,4,5,4,5,0,0.0,20749.0

(20781, 24)

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied

(83123, 2)

   ID             satisfaction
0   1  neutral or dissatisfied
1  16  neutral or dissatisfied
2  17  neutral or dissatisfied

(20781, 2)

In [4]:
y_train['satisfaction'].value_counts()

neutral or dissatisfied    47103
satisfied                  36020
Name: satisfaction, dtype: int64

In [5]:
y_test['satisfaction'].value_counts()

neutral or dissatisfied    11702
satisfied                   9079
Name: satisfaction, dtype: int64

In [6]:
y_train_s = y_train.copy()
y_test_s = y_test.copy()

y_train_s['satisfaction'] = y_train_s['satisfaction'].apply(lambda x: 1 if x=='satisfied' else 0)
y_test_s['satisfaction'] = y_test_s['satisfaction'].apply(lambda x: 1 if x=='satisfied' else 0)

print(y_train_s['satisfaction'].value_counts())
print(y_test_s['satisfaction'].value_counts())

0    47103
1    36020
Name: satisfaction, dtype: int64
0    11702
1     9079
Name: satisfaction, dtype: int64

In [7]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

display(x_train[obj].head(3))
display(x_train[num].head(3))

print(obj)
print(num)

print(len(obj)+len(num))

   Gender   Customer Type   Type of Travel     Class
0  Female  Loyal Customer  Personal Travel       Eco
1    Male  Loyal Customer  Personal Travel       Eco
2    Male  Loyal Customer  Business travel  Business

,ID,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,54,1068,3,4,3,1,5,4,4,5,5,3,5,3,5,3,47,22.0,NaN
1,2,20,1546,4,4,4,4,4,4,4,4,3,3,4,4,4,4,5,2.0,NaN
2,3,59,2962,0,4,0,4,2,4,5,1,1,1,1,5,1,4,54,46.0,NaN

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class'], dtype='object')
Index(['ID', 'Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'id'],
      dtype='object')
24

In [8]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

ID                                       0
Gender                                   0
Customer Type                            0
Age                                      0
Type of Travel                           0
Class                                    0
Flight Distance                          0
Inflight wifi service                    0
Departure/Arrival time convenient        0
Ease of Online booking                   0
Gate location                            0
Food and drink                           0
Online boarding                          0
Seat comfort                             0
Inflight entertainment                   0
On-board service                         0
Leg room service                         0
Baggage handling                         0
Checkin service                          0
Inflight service                         0
Cleanliness                              0
Departure Delay in Minutes               0
Arrival Delay in Minutes               256
id                                   83123
dtype: int64
ID                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             72
id                                    0
dtype: int64

In [9]:
x_train['Arrival Delay in Minutes'] = x_train['Arrival Delay in Minutes'].fillna(0)
x_test['Arrival Delay in Minutes'] = x_test['Arrival Delay in Minutes'].fillna(0)

In [10]:
def get_values(df):
  cols = df.select_dtypes(include='object').columns

  for col in cols:
    print(df[col].value_counts().index.unique(), len(df[col].value_counts().index.unique()))

get_values(x_train)
get_values(x_test)

Index(['Female', 'Male'], dtype='object') 2
Index(['Loyal Customer', 'disloyal Customer'], dtype='object') 2
Index(['Business travel', 'Personal Travel'], dtype='object') 2
Index(['Business', 'Eco', 'Eco Plus'], dtype='object') 3
Index(['Female', 'Male'], dtype='object') 2
Index(['Loyal Customer', 'disloyal Customer'], dtype='object') 2
Index(['Business travel', 'Personal Travel'], dtype='object') 2
Index(['Business', 'Eco', 'Eco Plus'], dtype='object') 3

In [11]:
from sklearn.preprocessing import LabelEncoder

def do_Encoding(df):

  cols= ['Gender', 'Customer Type', 'Type of Travel', 'Class']

  for col in cols:
    Encoder = LabelEncoder()
    df[col] = Encoder.fit_transform(df[col])

  return df

In [12]:
x_train_l = do_Encoding(x_train)
x_test_l = do_Encoding(x_test)

display(x_train_l.head(3))
display(x_test_l.head(3))

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,0,0,54,1,1,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,1,0,20,1,1,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,1,0,59,0,0,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,1,1,0,28,0,0,3414,2,2,2,...,2,4,5,4,4,4,2,0,0.0,40819.0
1,16,0,1,34,0,1,2556,1,1,1,...,2,5,1,5,1,3,2,15,0.0,33335.0
2,17,0,0,23,1,1,363,2,5,2,...,5,3,2,4,5,4,5,0,0.0,20749.0

In [13]:
x_train['Gate location'].value_counts()

3    22814
4    19661
2    15529
1    14040
5    11078
0        1
Name: Gate location, dtype: int64

In [14]:
x_train['Online boarding'].value_counts()

4    24690
3    17411
5    16565
2    14000
1     8503
0     1954
Name: Online boarding, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler

def do_Scaler(df):

  cols = ['Age', 'Flight Distance', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']
  for col in cols:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [16]:
x_train_s = do_Scaler(x_train_l)
x_test_s = do_Scaler(x_test_l)

In [17]:
x_train_s.drop(columns=['ID', 'id'], inplace=True)
x_test_s.drop(columns=['ID','id'], inplace=True)

In [18]:
y_train_s

           ID  satisfaction
0           0             0
1           2             0
2           3             1
3           4             1
4           5             1
...       ...           ...
83118  103893             0
83119  103898             0
83120  103899             1
83121  103901             1
83122  103903             0

[83123 rows x 2 columns]

In [19]:
from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_l,y_train_s['satisfaction'],
                                                            test_size=0.3, random_state=1234)


print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(58186, 22)
(24937, 22)
(58186,)
(24937,)

In [20]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(X_train_m, y_train_m)
prediction = model.predict_proba(X_test_m)[:,1]

In [21]:
from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_test_m, prediction))

0.9934586725781644

In [22]:
model.fit(x_train_l,y_train_s['satisfaction'])
pred = model.predict_proba(x_test_s)[:,1]

In [23]:
print(roc_auc_score(y_test_s['satisfaction'], pred))

0.9999999247005373

In [27]:
class_pred = model.predict(x_test_s)

In [29]:
temp = pd.DataFrame({'ID': x_test['ID'], 'pred': class_pred, 'real' : y_test['satisfaction']})
temp

           ID  pred                     real
0           1     0  neutral or dissatisfied
1          16     0  neutral or dissatisfied
2          17     0  neutral or dissatisfied
3          25     0  neutral or dissatisfied
4          27     1                satisfied
...       ...   ...                      ...
20776  103895     0  neutral or dissatisfied
20777  103896     0  neutral or dissatisfied
20778  103897     1                satisfied
20779  103900     0  neutral or dissatisfied
20780  103902     0  neutral or dissatisfied

[20781 rows x 3 columns]

In [38]:
temp['pred'] = temp['pred'].apply(lambda x: str(x).replace('0', 'neutral or dissatisfied') if x==0 else str(x).replace('1', 'satisfied'))
temp.head(3)

   ID                     pred                     real
0   1  neutral or dissatisfied  neutral or dissatisfied
1  16  neutral or dissatisfied  neutral or dissatisfied
2  17  neutral or dissatisfied  neutral or dissatisfied

In [40]:
temp.loc[temp['pred']!=temp['real']]

          ID       pred                     real
13874  69124  satisfied  neutral or dissatisfied

-> 0.99 accuracy 실화냐,, 과적합인거 같은데,,, 무슨일이 발생한겨