<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_regression_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

https://www.datamanim.com/dataset/03_dataq/typetwo.html#id14

## 회귀 (regression)

### 학생성적 예측 데이터

- 데이터 설명 : 학생성적 예측 (종속변수 :G3)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv
- 데이터 출처 :https://www.kaggle.com/datasets/ishandutta/student-performance-data-set (참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np

In [22]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv')
x_label = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv')

In [3]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(x_label.head(3))
print(x_label.shape)

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11

(678, 33)

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11

(678, 2)

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1000,GP,F,16,U,GT3,T,4,2,services,...,no,4,2,3,1,1,5,2,15,16
1,1008,GP,M,19,U,GT3,T,1,2,other,...,no,4,5,2,2,2,4,3,13,11
2,1013,GP,F,16,U,GT3,T,4,4,services,...,no,3,2,3,1,2,2,6,13,14

(366, 33)

   StudentID  G3
0       1000  16
1       1008  11
2       1013  14

(366, 2)

In [4]:
x_train.columns

Index(['StudentID', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

In [5]:
x_train.isnull().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

< 데이터 설명 >
- 1. school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- 2. sex - student's sex (binary: 'F' - female or 'M' - male)
- 3. age - student's age (numeric: from 15 to 22)
- 4. address - student's home address type (binary: 'U' - urban or 'R' - rural)
- 5. famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
-6. Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
-7. Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
-8. Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
-9. Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'athome' or 'other') 10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'athome' or 'other')
-10. reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
-11. guardian - student's guardian (nominal: 'mother', 'father' or 'other')
-12. traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
-13. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
-14. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
-15. schoolsup - extra educational support (binary: yes or no)
-16. famsup - family educational support (binary: yes or no)
-17. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
-18. activities - extra-curricular activities (binary: yes or no)
-19. nursery - attended nursery school (binary: yes or no)
-20. higher - wants to take higher education (binary: yes or no)
-21. internet - Internet access at home (binary: yes or no)
-22. romantic - with a romantic relationship (binary: yes or no)
-23. famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
-24. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
-25. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
-26. Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
-27. Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
-28. health - current health status (numeric: from 1 - very bad to 5 - very good)
-29. absences - number of school absences (numeric: from 0 to 93)

these grades are related with the course subject, Math or Portuguese:
- 30. G1 - first period grade (numeric: from 0 to 20)
- 31. G2 - second period grade (numeric: from 0 to 20)
- 32. G3 - final grade (numeric: from 0 to 20, output target)

In [6]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(obj)
print(num)

display(x_train[obj].head(3))
display(x_train[num].head(3))

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')
Index(['StudentID', 'age', 'Medu', 'Fedu', 'traveltime', 'studytime',
       'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2'],
      dtype='object')

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,T,other,other,reputation,father,no,yes,yes,no,yes,yes,yes,no
1,GP,F,U,GT3,T,health,other,reputation,mother,no,yes,yes,yes,yes,yes,yes,yes
2,GP,F,R,GT3,T,health,teacher,other,mother,no,yes,no,yes,yes,yes,no,no

,StudentID,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,18,4,3,1,4,0,4,3,3,1,1,3,0,14,13
1,1254,17,4,3,1,3,0,4,4,3,1,3,4,0,13,15
2,1639,16,4,4,1,2,0,2,4,4,2,3,4,6,10,11

In [7]:
x_train['Medu'].value_counts()

4    204
2    192
3    147
1    127
0      8
Name: Medu, dtype: int64

In [8]:
x_train['Fedu'].value_counts()

2    214
1    166
3    150
4    141
0      7
Name: Fedu, dtype: int64

In [9]:
x_train['famrel'].value_counts()

4    316
5    194
3    118
2     29
1     21
Name: famrel, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder


def Label_Encoder(df):

  obj = df.select_dtypes(include='object').columns

  for col in obj:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

  return df

In [11]:
x_train_l = Label_Encoder(x_train)
x_test_l = Label_Encoder(x_test)

In [12]:
display(x_train_l.head(3))
display(x_test_l.head(3))

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,0,0,18,1,0,1,4,3,2,...,0,4,3,3,1,1,3,0,14,13
1,1254,0,0,17,1,0,1,4,3,1,...,1,4,4,3,1,3,4,0,13,15
2,1639,0,0,16,0,0,1,4,4,1,...,0,2,4,4,2,3,4,6,10,11

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1000,0,0,16,1,0,1,4,2,3,...,0,4,2,3,1,1,5,2,15,16
1,1008,0,1,19,1,0,1,1,2,2,...,0,4,5,2,2,2,4,3,13,11
2,1013,0,0,16,1,0,1,4,4,3,...,0,3,2,3,1,2,2,6,13,14

In [13]:
# 수치형

from sklearn.preprocessing import StandardScaler

def Standard_Scaler(df):

  num = df.select_dtypes(include='number').columns

  for col in num:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [14]:
x_train_s = Standard_Scaler(x_train_l)
x_test_s = Standard_Scaler(x_test_l)

In [15]:
x_train_s = x_train_s.drop(columns=['StudentID'])
x_test_s = x_test_s.drop(columns=['StudentID'])

In [16]:
# 모델링


from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s, y_train['G3'],
                                                            test_size=0.3,
                                                            random_state=1234)

print(X_train_m.shape)
print(y_train_m.shape)
print(X_test_m.shape)
print(y_test_m.shape)

(474, 32)
(474,)
(204, 32)
(204,)

In [17]:
from sklearn.ensemble import RandomForestRegressor


model = RandomForestRegressor()
model.fit(X_train_m, y_train_m)
pred = model.predict(X_test_m)

In [18]:
from sklearn.metrics import r2_score, mean_squared_error


print(r2_score(y_test_m, pred))

0.8235748366101147

In [19]:
model.fit(x_train_s, y_train['G3'])
prediction = model.predict(x_test_s)

print(r2_score(x_label['G3'], prediction))

0.8220292848185964

In [23]:
pd.DataFrame({'StudentID': x_test['StudentID'], 'pred':prediction})

     StudentID   pred
0         1000  16.20
1         1008  10.93
2         1013  14.12
3         1014   7.60
4         1017  11.27
..         ...    ...
361       2032  16.06
362       2034  12.20
363       2035  16.01
364       2036   0.51
365       2037  14.80

[366 rows x 2 columns]