<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_regression_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

## 회귀 Regression

https://www.datamanim.com/dataset/03_dataq/typetwo.html#id21

### 현대 차량 가격 문제 데이터

- 데이터 설명 : 현대 차량가격 분류문제 (종속변수 :price)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_test.csv
- 데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_test.csv')

In [ ]:
display(x_train.head(3))
print(x_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_train.head(3))
print(y_train.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,model,year,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,0,I30,2019,Manual,21,Petrol,150,34.0,2.0
1,1,Santa Fe,2018,Semi-Auto,10500,Diesel,145,39.8,2.2
2,2,Tucson,2017,Manual,29968,Diesel,30,61.7,1.7

(3888, 9)

,ID,model,year,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,21,I10,2018,Manual,7374,Petrol,145,57.7,1.2
1,28,I30,2011,Automatic,59220,Diesel,160,49.6,1.6
2,33,Santa Fe,2019,Automatic,100,Diesel,145,39.2,2.2

(972, 9)

   ID  price
0   0  23995
1   1  28490
2   2  13251

(3888, 2)

   ID  price
0  21   8795
1  28   4395
2  33  35985

(972, 2)

In [ ]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns

print(obj)
print(num)


display(x_train[obj].head(3))
display(x_train[num].head(3))

Index(['model', 'transmission', 'fuelType'], dtype='object')
Index(['ID', 'year', 'mileage', 'tax(£)', 'mpg', 'engineSize'], dtype='object')

       model transmission fuelType
0        I30       Manual   Petrol
1   Santa Fe    Semi-Auto   Diesel
2     Tucson       Manual   Diesel

   ID  year  mileage  tax(£)   mpg  engineSize
0   0  2019       21     150  34.0         2.0
1   1  2018    10500     145  39.8         2.2
2   2  2017    29968      30  61.7         1.7

In [ ]:

def get_values(df):
  for col in obj:
    print(df[col].value_counts().index.unique(), len(df[col].value_counts().index.unique()))
  return None

In [ ]:
get_values(x_train)

Index([' Tucson', ' I10', ' I30', ' I20', ' Kona', ' Ioniq', ' Santa Fe',
       ' IX20', ' I40', ' I800', ' IX35', ' Getz', ' Veloster', ' Amica',
       ' Terracan', ' Accent'],
      dtype='object') 16
Index(['Manual', 'Automatic', 'Semi-Auto', 'Other'], dtype='object') 4
Index(['Petrol', 'Diesel', 'Hybrid'], dtype='object') 3

In [ ]:
get_values(x_test)

Index([' Tucson', ' I10', ' I30', ' I20', ' Santa Fe', ' Ioniq', ' IX20',
       ' Kona', ' IX35', ' I40', ' I800', ' Getz', ' Terracan', ' Accent',
       ' Amica'],
      dtype='object') 15
Index(['Manual', 'Automatic', 'Semi-Auto', 'Other'], dtype='object') 4
Index(['Petrol', 'Diesel', 'Hybrid', 'Other'], dtype='object') 4

In [ ]:
temp = pd.concat([x_train.assign(ind='train'), x_test.assign(ind='test')])
display(temp.head(3))

,ID,model,year,transmission,mileage,fuelType,tax(£),mpg,engineSize,ind
0,0,I30,2019,Manual,21,Petrol,150,34.0,2.0,train
1,1,Santa Fe,2018,Semi-Auto,10500,Diesel,145,39.8,2.2,train
2,2,Tucson,2017,Manual,29968,Diesel,30,61.7,1.7,train

In [ ]:
obj = temp.select_dtypes(include='object').columns
num = temp.select_dtypes(include='number').columns

print(obj)
print(num)


display(temp[obj].head(3))
display(temp[num].head(3))

Index(['model', 'transmission', 'fuelType', 'ind'], dtype='object')
Index(['ID', 'year', 'mileage', 'tax(£)', 'mpg', 'engineSize'], dtype='object')

       model transmission fuelType    ind
0        I30       Manual   Petrol  train
1   Santa Fe    Semi-Auto   Diesel  train
2     Tucson       Manual   Diesel  train

   ID  year  mileage  tax(£)   mpg  engineSize
0   0  2019       21     150  34.0         2.0
1   1  2018    10500     145  39.8         2.2
2   2  2017    29968      30  61.7         1.7

In [ ]:
temp.isnull().sum().to_frame()

              0
ID            0
model         0
year          0
transmission  0
mileage       0
fuelType      0
tax(£)        0
mpg           0
engineSize    0
ind           0

In [ ]:
temp.describe()

,ID,year,mileage,tax(£),mpg,engineSize
count,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000
mean,2429.500000,2016.931687,22793.680658,121.384774,53.740123,1.470021
std,1403.105484,2.151368,19236.267022,60.029458,12.525873,0.401151
min,0.000000,2000.000000,1.000000,0.000000,1.100000,0.000000
25%,1214.750000,2016.000000,8756.000000,125.000000,44.800000,1.200000
50%,2429.500000,2017.000000,18054.500000,145.000000,55.400000,1.600000
75%,3644.250000,2018.000000,31807.750000,145.000000,60.100000,1.700000
max,4859.000000,2020.000000,138000.000000,555.000000,256.800000,2.900000

In [ ]:
temp = pd.get_dummies(temp)
display(temp)

,ID,year,mileage,tax(£),mpg,engineSize,model_ Accent,model_ Amica,model_ Getz,model_ I10,...,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,ind_test,ind_train
0,0,2019,21,150,34.0,2.0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
1,1,2018,10500,145,39.8,2.2,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1
2,2,2017,29968,30,61.7,1.7,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,3,2018,27317,145,52.3,1.0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
4,4,2018,31459,145,57.7,1.7,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,4833,2008,67000,125,51.4,1.1,0,0,1,0,...,0,1,0,0,0,0,0,1,1,0
968,4840,2019,3000,135,78.5,1.6,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
969,4842,2008,83000,300,39.8,2.0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
970,4843,2010,72000,260,41.5,2.2,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
971,4848,2018,13365,145,60.1,1.0,0,0,0,1,...,0,1,0,0,0,0,0,1,1,0

In [ ]:
from sklearn.preprocessing import StandardScaler

def do_Scaler(df):

  cols = ['year', 'mileage', 'tax(£)', 'mpg', 'engineSize']

  for col in cols:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [ ]:
temp = do_Scaler(temp)

In [ ]:
x_train_s = temp.iloc[:3888]
x_test_s = temp.iloc[3888:]

In [ ]:
from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['ID']), y_train['price'])

print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(2916, 31)
(972, 31)
(2916,)
(972,)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train_m, y_train_m)
prediction = model.predict(X_test_m)

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

print(r2_score(y_test_m, prediction))
print(mean_squared_error(y_test_m, prediction, squared=False))

0.9486099830657397
1318.726586826489

In [ ]:
model.fit(x_train_s.drop(columns=['ID']), y_train['price'])
pred = model.predict(x_test_s.drop(columns=['ID']))

print(r2_score(y_test['price'], pred))
print(mean_squared_error(y_test['price'],pred, squared=False))

0.8151632584870312
2756.186278013304

In [ ]:
pd.DataFrame({'ID': x_test['ID'], 'pred': pred, 'real' : y_test['price']})

       ID      pred   real
0      21   8651.91   8795
1      28   4904.99   4395
2      33  35446.55  35985
3      38  13452.63  12995
4      45   8416.27   7698
..    ...       ...    ...
967  4833   2157.01   1695
968  4840  18766.49  17999
969  4842   3756.20   2950
970  4843   6835.11   6995
971  4848   7569.02   7658

[972 rows x 3 columns]